<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mark</th>
            <th>Model</th>
        </tr>
        <tr th:each = "car: ${Cars}">
            <td th:text="${car.getId()}"></td>
            <td th:text="${car.getName()}"></td>
            <td th:text="${car.getMark()}"></td>
            <td th:text="${car.getModel()}"></td>
        </tr>
    </table>
</body>
</html>